apiVersion: v1
kind: Secret
metadata:
  name: atlantis-secrets
  namespace: atlantis
type: Opaque
stringData:
  github-user: "<github_usename>"
  repo-allowlist: "<your_repo>"
  github-token: "<token>"
  webhook-secret: "<secret>"
  yc-token: "<token>"
  yc-cloud-id: "<id>"
  yc-folder-id: "<id>"
  ssh_username: "<user-ssh>"
  s3-access-key: "<access-key>"
  s3-secret-key: "<secret-key>"
  ssh-public-key: "<public-key>"