apiVersion: apps/v1
kind: Deployment
metadata:
  name: test-nginx
  namespace: lepishin-nginx
spec:
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  replicas: 3
  selector:
    matchLabels:
      app: test-nginx
  template:
    metadata:
      labels:
        app: test-nginx
    spec:
      containers:
      - name: test-nginx
        image: cr.yandex/crpmfosr6bfe40c2vn2j/test-app:1.0.0
        ports:
        - containerPort: 80
